BODY {     background:transparent url(../imagens/fundo.png) repeat;
/*background: #eeeeee; */
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
text-decoration: none;
scrollbar-darkshadow-color: #78acff;
scrollbar-3dlight-color: #78acff;
scrollbar-arrow-color: #000000;
scrollbar-base-color: #eaf2ff;
scrollbar-face-color: #eaf2ff;
scrollbar-highlight-color: #eaf2ff;
scrollbar-shadow-color: #eaf2ff;
scrollbar-track-color: #ffffff;
}

.logotipo { 
position:absolute;

top:5px;
left:5px;
background-image:url('../imagens/logo002.png');
background-repeat:no-repeat;
width:400px;
height:100px;
z-index:200;
}

P.titulo {
font-family: Tahoma, Verdana, sans-serif;
font-size: 30px;
color: #000000;
text-align: center;
}

P.titulo2 {
font-family: Tahoma, Verdana, sans-serif;
font-size: 22px;
font-weight: bold;
color: #eff7ff;
text-align: left;
}

P.titulo3 {
font-family: Tahoma, Verdana, sans-serif;
font-size: 22px;
font-weight: bold;
color: #000000;
/* color: #eff7ff; */
text-align: center;
}


P.subtitulo {
font-family: Tahoma, Verdana, sans-serif;
font-size: 22px;
font-weight: bold;
color: #000000;
text-align: left;
}

P.subtitulo2 {
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
}

P.subtitulo3 {
font-family: Tahoma, Verdana, sans-serif;
font-size: 22px;
font-style: italic;
text-align: center;
}

P.texto1 {
font-family: Tahoma, Verdana, sans-serif;
color: #ffffff;
font-size: 12px;
text-align: left;
}

img.imagem1 {

position: relative;
top: 7px;
left: 0px;
}

td.tabela_caminho {
font-family: Tahoma, Verdana, sans-serif;
color: #ffffff;
font-size: 12px;
margin:0 0 0 0;
border-top-right-radius: .3em; 
border-bottom-right-radius: .3em;
border-top-left-radius: .3em; 
border-bottom-left-radius: .3em;

padding-left:5px;
padding-right:10px;
height:25px;

}

P.texto2 {
font-family: Tahoma, Verdana, sans-serif;
color: #ffffff;
font-size: 11px;
/* font-weight: bold; */
text-align: right;
}

P.texto3 {
font-family: Tahoma, Verdana, sans-serif;
color: #000000;
font-size: 12px;
/* font-size: 14px; */
font-weight: bold; 
text-align: left;
}

P.texto4 {
font-family: Tahoma, Verdana, sans-serif;
color: #000000;
font-size: 12px;
font-weight: bold; 
text-align: center;
}

P.texto5 {
font-family: Tahoma, Verdana, sans-serif;
color: #FFFF00;
font-size: 12px;
text-align: left;
}

SELECT {
border-bottom-width: 1px;
border-color: #000000;
border-left-width: 1px;
border-right-width: 1px;
border-style: solid;
border-top-width: 1px;
font-family: Helvetica,Tahoma, Verdana, sans-serif;
font-size: 16px;
border-radius: 3px;

}

.styled-select {
   border-bottom-width: 1px;
   border-color: #000000;
   border-left-width: 0px;
   border-right-width: 1px;
   border-style: solid;
   border-top-width: 0px;    
   width: 350px;
   height: 30px;
   overflow: hidden;
   background: url(../imagens/down.gif) no-repeat right #D6E7EF;
   border-radius: 3px;

   }

.styled-select select {
   background: transparent;
   padding:5px 0 5px 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 3px;
   height: 30px;
   -webkit-appearance: none;
   }


.styled-select-big {
   border-bottom-width: 1px;
   border-color: #000000;
   border-left-width: 0px;
   border-right-width: 1px;
   border-style: solid;
   border-top-width: 0px;    
   width: 423px;
   height: 30px;
   overflow: hidden;
   background: url(../imagens/down.gif) no-repeat right #D6E7EF;
   border-radius: 3px;

   }

.styled-select-big select {
   background: transparent;
   padding:5px 0 5px 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 3px;
   height: 30px;
   -webkit-appearance: none;
   }   


/*
SELECT.unico{

border-bottom-width: 1px;
border-color: #000000;
border-left-width: 0px;
border-right-width: 1px;
border-style: solid;
border-top-width: 0px;
font-family: Helvetica,Tahoma, Verdana, sans-serif;
font-size: 15px;
border-radius: 3px;
height:30px;
padding:5px 0 5px 5px;

}
*/



SELECT.select {

border:1px 1px 1px 1px;
border-style: solid;

font-family: Helvetica,Tahoma, Verdana, sans-serif;
font-size: 14px;

}

SELECT.baixo{
border-bottom-width: 1px;
border-color: #000000;
border-left-width: 1px;
border-right-width: 1px;
border-style: solid;
border-top-width: 1px;
font-family: Helvetica,Tahoma, Verdana, sans-serif;
font-size: 16px;
border-radius: 3px;
height:25px;
}

TEXTAREA {
border-bottom-width: 1px;
border-color: #000000;
border-left-width: 1px;
border-right-width: 1px;
border-style: solid;
border-top-width: 1px;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-indent: 5px;
border-radius: 3px;
}

TEXTAREA.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
}

INPUT.text {
font-family:helvetica, tahoma,verdana,sans-serif;
font-size:16px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
font-weight: normal;
text-indent: 5px;
border-radius: 3px;
height:25px;
 
}

INPUT.button {
font-family:tahoma,sans-serif;
font-size:12px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:24px;
text-decoration:none;
cursor: pointer;

    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-shadow:0px 1px 0px #ff4800;
}

INPUT.button:hover {

cursor: pointer;

    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}


INPUT.buttonBig {
font-family:tahoma,sans-serif;
font-size:16px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:30px;
text-decoration:none;
cursor: pointer;

    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-shadow:0px 1px 0px #ff4800;

}


INPUT.buttonBig:hover {

cursor: pointer;

    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}


INPUT.buttonBigBig {
font-family:tahoma,sans-serif;
font-size:18px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:46px;
width: 195px;
text-decoration:none;
cursor: pointer;
padding-left: 25px;
    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-shadow:0px 1px 0px #ff4800;
}


INPUT.buttonBigBig:hover {

cursor: pointer;

    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}

INPUT.buttonBigBig-01 {
font-family:tahoma,sans-serif;
font-size:18px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:50px;
width: 195px;
text-decoration:none;
cursor: pointer;

    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
        text-shadow:0px 1px 0px #ff4800;

}

INPUT.buttonBigBig-01:hover {

cursor: pointer;

    -webkit-border-radius: .3em; 
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}

INPUT.delete {
    background-image: url('../imagens/cancel.png') ;
    width: 22px;
    height:22px;

    border: 0;
    cursor: pointer;
    color : transparent;
    background-color:transparent;
}

INPUT.delete-01 {
    background-image: url('../imagens/delete.png') ;
    width: 30px;
    height:30px;

    border: 0;
    cursor: pointer;
    color : transparent;
    background-color:transparent;
}

.tabela_redonda_s {

    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    padding:7px 0 0 0;
   
    
}

.tabela_redonda {


    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    border: solid 1px #dddddd;
}


.tabela_redonda_topo {


    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;

 
}


.campo {


    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;

    border: solid 1px #dddddd;
    
}



INPUT.checkbox {
font-family:tahoma,sans-serif;
font-size:11px;
color:#000066;
text-decoration:none;
}

SELECT {
font-family:tahoma,sans-serif;
font-size:12px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
cursor: hand;

 
}

SELECT.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
cursor: hand;
}


OPTION.buttonpreautomatico {
// amarelo
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #FDFECF;
}

OPTION.buttonpre {
// verde
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #8EE5EE;
}

OPTION.buttonnaopre {
// azul claro
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #D6E7EF;
}

FONT.buttonpreautomatico {
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #FFF68F;
}

FONT.buttonpre {
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #8EE5EE;
}

FONT.buttonnaopre {
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #000066; 
background: #D6E7EF;
}

FONT.buttonselecionado {
font-family:tahoma,sans-serif;
font-size: 11px; 
color: #ffffff; 
background: #000080;
}

IFRAME.iframe {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
}

A:link {
background-color: transparent;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:visited {
background-color: transparent;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:hover {
background-color: transparent;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:active {
background-color: transparent;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: none;
}

A:hover.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #AFC4D5;
border-right: 1px solid #AFC4D5;
border-left: 1px solid  #104A7B;
border-top:1px solid #104A7B;
color:#000066;
height:19px;
text-decoration:none;
cursor: hand;
}

A:link.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:19px;
text-decoration:none;
cursor: hand;
}

A:visited.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:19px;
text-decoration:none;
cursor: hand;
}

A:active.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:19px;
text-decoration:none;
cursor: hand;
}


FONT.menu {
background-color: transparent;

font-size: 11px;
position:relative;
top:-3px;
left:-2px;
}


A.menu {
background-color: transparent;
color: #ffffff;
font-family: Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;

}

A.menu:hover {
background-color: transparent;
color: #ffffff;
font-family: Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}


A.menu_black {
background-color: transparent;
color: #000;

font-size: 11px;
text-decoration: underline;

}

FONT.button {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
text-decoration:none;
}

TR.mnuGroup {
font-family:tahoma,sans-serif;
font-size:11px;
background: #E6E6FF;
color:#000000;
text-decoration:none;
font-weight: normal;
text-indent: 10px;
height:25px;

}

TR.mnuItem {
font-family:tahoma,sans-serif;
font-size:11px;
background: #F2F5F9;
color:#000066;
text-decoration:none;
font-weight: normal;
text-indent: 5px;

}

TR.mnuItem TD{
padding: 2px 0 0 0;
}

TR.mnuBreak {
height:5px;
}

TR.zebraA {
font-family:tahoma,sans-serif;
font-size:14px;
background: #eeeeee;
color:#000000;
text-decoration:none;
font-weight: normal;
text-indent: 4px;
height:25px;
}

TR.zebraB {
font-family:tahoma,sans-serif;
font-size:14px;
background: #ffffff;
color:#000000;
text-decoration:none;
font-weight: normal;
text-indent: 4px;
height:25px;
}


TR.Titulo {
font-family:tahoma,sans-serif;
font-size:14px;
/* background: #666699; */
color:#ffffff;
text-decoration:none;
font-weight: none;
text-indent: 5px;
height:35px;

}

TD {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
}

TD.mnuTitulo {
font-family:tahoma,sans-serif;
font-size:12px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
}

TD.redondo_inicio {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
  border-top-left-radius: .5em; 
  border-bottom-left-radius: .5em;
  padding-left:5px;
  height:35px;
}

TD.redondo_final {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
  border-top-right-radius: .5em; 
  border-bottom-right-radius: .5em;
}

TD.redondo_tudo {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
  border-top-right-radius: .5em; 
  border-bottom-right-radius: .5em;
    border-top-left-radius: .5em; 
  border-bottom-left-radius: .5em;
    padding-left:5px;
  height:30px;
}

TD.redondo_rodape {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;

  border-top-left-radius: .3em; 
  border-bottom-left-radius: .3em;
  padding-left:5px;
  padding-right:10px;
  height:10px;
}

TD.redondo_rodape1 {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
  border-top-right-radius: .3em; 
  border-bottom-right-radius: .3em;

  padding-left:5px;
  padding-right:10px;
  height:10px;
}

/* Inclusao Carla estagio 2008/02 */
blockquote{ 
	line-height:170%;
    margin: 0.4em 5em 0.4em 8em; 
    padding: 0.5em; 
    /*border: 1px dashed gray;*/
    background-color: #BCD2EE;
	font:Arial, Helvetica, sans-serif;	
}


P.blockquote{ 
	line-height:170%;
    margin: 0em 0em 0em 0em; 
    padding: 0.5em; 
    /*border: 1px dashed gray;*/
    background-color: #FFFFFF;
	font:Arial, Helvetica, sans-serif;	
}




div.Mensagem {
    padding: 0 10px 0 10px;
    margin-left: 5px;        
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
 

    color: #ffffff;
    border: solid 1px #ffffff;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#d81f1f), to(#ff0000));
    background: -moz-linear-gradient(top,  #d81f1f,  #ff0000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d81f1f', endColorstr='#ff0000');


    }

    div.Mensagem_Ok {
    margin-left: 5px;            
    padding: 0 10px 0 10px;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
 

    color: #ffffff;
    text-shadow:0px 1px 1px #000;

    border: solid 1px #ffffff;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#185400), to(#299100));
    background: -moz-linear-gradient(top,  #185400,  #299100);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#185400', endColorstr='#299100');


    }

    div.Mensagem_Amarelo {
    margin-left: 5px;    
    padding: 0 10px 0 10px;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    color: #000000;

    border: solid 1px #ffac1b;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffac1b), to(#ffe75c));
    background: -moz-linear-gradient(top,  #ffac1b,  #ffe75c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac1b', endColorstr='#ffe75c');

    }

    div.Mensagem_Gray {
    margin-left: 5px;   
    margin-bottom: 10px; 

    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;

    color: #000;
    border: solid 1px #dddddd;  
    background: #e8e8e8;
    /*
  
    background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#f2f2f2));
    background: -moz-linear-gradient(top,  #c3c3c3,  #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#f2f2f2');
    */
    text-shadow:2px 2px 2px #ffffff;

    }




div.dropdown {

color: #555;
margin: 5px 0 0 0;
width: 305px;
position: relative;
height: 17px;
text-align:left;
}
div.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: 0px;
z-index: 100;
width: 278px;
display: none;
margin-left: 10px;
padding: 40px 6px 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);

text-align:right;
}

.dropdown  li a {
   
    color: #555555;
    display: block;
    font-family: arial;
    font-size: 12px;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
    
}
a.account {
 
border-radius: 6px;
font-size: 11px;
line-height: 16px;
color: #000;
position: absolute;
z-index: 120;
font:tahoma, Arial, Helvetica, sans-serif;  
padding: 12px 12px 0 14px;
height: 29px;
width: 264px;
margin: -12px 0 0 10px;
text-decoration: none;
cursor:pointer;
text-align:right;
  

}

a.account:hover {
 
border-radius: 6px;
font-size: 11px;
line-height: 16px;
color: #000;
position: absolute;
z-index: 120;
font:tahoma, Arial, Helvetica, sans-serif;  
padding: 12px 12px 0 14px;
height: 28px;
width: 264px;
margin: -12px 0 0 10px;
text-decoration: none;
cursor:pointer;
text-align:right;
background: #ffffff;   

}

.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 15px 0 0 0px;
border-top:1px solid #dedede;
    
    
}

.bola
{
    height: 40px;
    width: 585px;
    background: #e8e8e8  no-repeat center center ;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    text-shadow:2px 2px 2px #ffffff;
}

.bola a
{
    font-size: 17px;
    text-shadow:2px 2px 2px #ffffff;
}

.bola_amarelo
{
    height: 40px;
    width: 585px;
    background: #fffddd  no-repeat center center ;
    border-radius: .5em;     
    -webkit-border-radius: 0.5em; 
    -moz-border-radius: 0.5em;
   /* text-shadow:2px 2px 2px #ffffff; */

    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffac1b), to(#ffe75c));
    background: -moz-linear-gradient(top,  #ffac1b,  #ffe75c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac1b', endColorstr='#ffe75c');    
}

.bola_verde
{

    height: 40px;
    width: 585px;
    background: #fffddd  no-repeat center center ;
    border-radius: .5em;  
    -webkit-border-radius: 0.5em; 
    -moz-border-radius: 0.5em;
    border-radius: .5em;
    color: #ffffff;
    text-shadow:1px 1px 1px #000;

    border: solid 1px #ffffff;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#185400), to(#299100));
    background: -moz-linear-gradient(top,  #185400,  #299100);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#185400', endColorstr='#299100');
}

.ttw-notification-menu {
    font-family: Arial, sans-serif;
    height: 28px;
    width: 100%;
    padding: 0;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fafafa));
    background: -moz-linear-gradient(top,  #efefef,  #fafafa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#fafafa');
    display: block;
    margin: 15px auto;
}

.notification-menu-item {
    display: block;
    position: relative;
    float: left;
    border-right: 1px solid #d1d1d1;
    background: transparent  no-repeat left top scroll;
}

.first-item, .notification-menu-item:first-child {
    background: none;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.notification-menu-item:last-child {
    border-right: none;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.notification-menu-item.last-item {
    border-right: none;
}

.notification-menu-item a {
    display: block;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: 28px;
    padding: 0 12px;
}

.notification-menu-item:hover a {
    color: #333;
}

/** Dropdown **/
.ttw-notification-menu ul {
   
    background: #f2f2f2;
    list-style: none;
    position: absolute;
    padding: 0;
    border-radius: 0 0 6px 6px;
    border: 1px solid #d1d1d1;
    left: -999999px;

}

.ttw-notification-menu ul li {
    padding-top: 1px;
    float: none;
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.ttw-notification-menu ul li:last-child {
    border-bottom: none;
    border-radius: 0 0 6px 6px;
}

.ttw-notification-menu ul a {
    color: #666 !important;
    display: block;
    white-space: nowrap;
    box-shadow: none;
    border-right: none;
}

.ttw-notification-menu li:hover ul {
    left: -1px;
}

.ttw-notification-menu li:hover ul li:hover {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.11))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b3ffffff', endColorstr = '#1cffffff', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* W3C */
}

/**Notification Bubble **/
.notification-bubble {
    height: 20px;
    width: 20px;
    background: #f56c7e  no-repeat center center scroll;
    background-image: none;
    position: absolute;
    right: 0px;
    top: -15px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 11px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.notification-bubble.show {
    display: block;
}

.notification-bubble.two {
    background-color: #fec151;
}

.notification-bubble.three {
    background-color: #7ad2f4;
}

.notification-menu-item:hover .notification-bubble {
    top: -18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 1px rgba(0, 0, 0, .2);
}

.notification-menu-item a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    min-width:119px;
}

.notification-bubble {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



.notification-bubble_topo {
    height: 25px;
    width: 35px;
    background: #f56c7e  no-repeat center center scroll;
    background-image: none;
    position: absolute;
    right: 300px;
    top: 25px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 12px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding-top:10px;

}


.file_input_textbox
{
    float: left;
    font-family:helvetica, tahoma,verdana,sans-serif;
    font-size:16px;
    background: #D6E7EF;
    border-bottom: 1px solid #104A7B;
    border-right: 1px solid #104A7B;
    border-left: 1px solid #AFC4D5;
    border-top:1px solid #AFC4D5;
    color:#000066;
    text-decoration:none;
    font-weight: normal;
    text-indent: 5px;
    border-radius: 3px;
    height:25px;
    width:425px;
    margin-left: 2px;
}


.file_input_textbox_curto
{
    float: left;
    font-family:helvetica, tahoma,verdana,sans-serif;
    font-size:16px;
    background: #D6E7EF;
    border-bottom: 1px solid #104A7B;
    border-right: 1px solid #104A7B;
    border-left: 1px solid #AFC4D5;
    border-top:1px solid #AFC4D5;
    color:#000066;
    text-decoration:none;
    font-weight: normal;
    text-indent: 5px;
    border-radius: 3px;
    height:25px;
    width:325px;
    margin-left: 2px;
}
.file_input_div_comprido
{
    position: relative; 
    right:0px;
    width: 250px; 
    height: 50px; 
    overflow: hidden;

}


.file_input_div
{
    position: relative; 
    right:0px;
    width: 150px; 
    height: 50px; 
    overflow: hidden;

}

.file_input_button
{
    position: absolute; 
    top: 0px;


}

.file_input_hidden
{
    font-size: 30px; 
    position: absolute; 
    right: 0px; 
    top: -5px; 

    height:35px;
    text-decoration:none;


    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');


    opacity: 0; 

    filter: alpha(opacity=0); 
    -ms-filter: "alpha(opacity=0)"; 
    -khtml-opacity: 0; 
    -moz-opacity: 0;


}

#dvLoading
{
   background: url(../imagens/barloading.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 40%;


    opacity: 0.5; 
    filter: alpha(opacity=0.5); 
    -ms-filter: "alpha(opacity=0.5)"; 
    -khtml-opacity: 0.5; 
    -moz-opacity: 0.5;

}
