/* Floatbox v4.27 */

/*
Sections:
  custom color scheme (modify colors and bg images for controls here)
  other color schemes
  control widgets (adjust control sizes here if you've swapped out the controls' bg images)
  other settings (not user-changeable)
*/

/** custom color scheme **/

/* overlay color */
#fbOverlay.fb_custom {
	background-color: #1b2642;
/* 	background-image: url(graphics/blank.gif);  add a custom background image for the transparent page overlay */
}

/* main floatbox color */
div#fbBox.fb_custom, #fbBox #fbCorners.fb_custom, #fbBox #fbBoxLiner.fb_custom, div#fbZoomDiv.fb_custom {
	background-color: #eed39e;
/* 	background-image: url(graphics/blank.gif);  use this to add a custom background image to the main floatbox area */
}

/* outerBorder color */
#fbBox #fbCorners.fb_custom {
	border-color: #da7b4d;
}

/* innerBorder color */
#fbBox #fbContentWrapper.fb_custom {
	border-color: #ffffff;
}

/* animated 'loading' graphic */
#fbBox #fbLoader.fb_custom {
/*	background-image: url(graphics/loader_black_small.gif); */
background-image: url(graphics/325.gif);

}

/* resize button graphic in the top left corner */
/* note: if you want the smaller resize button, change #fbResizer width and height to 19px */
/* and also add "_small" to the resize gif name (e.g., graphics/resizer_custom_small.gif) */
#fbBox #fbResizer.fb_custom {
	background-image: url(graphics/resizer_custom.gif);
}

/* resize dragger in the lower right corner */
#fbBox #fbDragger.fb_custom {
	background-image: url(graphics/dragger_custom.gif);
}

/* overlay nav graphics */
#fbBox #fbOverlayPrev.fb_custom {
	background-image: url(graphics/overlayPrev_custom.gif);
}
#fbBox #fbOverlayNext.fb_custom {
	background-image: url(graphics/overlayNext_custom.gif);
}

/* newWindowLink image */
#fbBox #fbNewWindowLink.fb_custom a {
	background-image: url(graphics/newWindow_custom_off.png);
}
#fbBox #fbNewWindowLink.fb_custom a:hover {
	background-image: url(graphics/newWindow_custom_on.png);
}

/* 'image x of y', indexLinks & newWindowLink text color */
#fbBox #fbIndexLinks.fb_custom, #fbBox #fbIndexLinks.fb_custom a,
#fbBox #fbNewWindowLink.fb_custom a, #fbBox #fbItemNumber.fb_custom {
	color: #666;
}

/* captions, infoLink, printLink, indexLinks:hover & newWindowLink:hover text color */
#fbBox #fbCaption.fb_custom, #fbBox #fbCaption2.fb_custom,
#fbBox #fbtlWidgetDiv.fb_custom a, #fbBox #fbtrWidgetDiv.fb_custom a,
#fbBox #fbblWidgetDiv.fb_custom a, #fbBox #fbbrWidgetDiv.fb_custom a,
#fbBox #fbIndexLinks.fb_custom a:hover, #fbBox #fbNewWindowLink.fb_custom a:hover {
	color: #000;
}

/* 'prev' and 'next' nav graphics */
#fbBox #fbPrev.fb_custom {
	background-image: url(graphics/prev_custom.gif);
}
#fbBox #fbNext.fb_custom {
	background-image: url(graphics/next_custom.gif);
}

/* 'play' and 'pause' graphics */
#fbBox #fbPlay.fb_custom {
	background-image: url(graphics/play_custom.gif);
}
#fbBox #fbPause.fb_custom {
	background-image: url(graphics/pause_custom.gif);
}

/* 'close' graphic */
#fbBox #fbClose.fb_custom {
	background-image: url(graphics/close_custom.gif);
}

/** end of custom color scheme **/

/** other color schemes **/

#fbOverlay.fb_black {
	background-color: #000;
}
#fbOverlay.fb_white {
	background-color: #000;
}
#fbOverlay.fb_blue {
	background-color: #0b183b;
}
#fbOverlay.fb_yellow {
	background-color: #752;
}
#fbOverlay.fb_red {
	background-color: #280000;
}

div#fbBox.fb_black, #fbBox #fbCorners.fb_black, #fbBox #fbBoxLiner.fb_black, div#fbZoomDiv.fb_black {
	background-color: #000;
}
div#fbBox.fb_white, #fbBox #fbCorners.fb_white, #fbBox #fbBoxLiner.fb_white, div#fbZoomDiv.fb_white {
	background-color: #fff;
}
div#fbBox.fb_blue, #fbBox #fbCorners.fb_blue, #fbBox #fbBoxLiner.fb_blue, div#fbZoomDiv.fb_blue {
	background-color: #ffffff;
}
div#fbBox.fb_yellow, #fbBox #fbCorners.fb_yellow, #fbBox #fbBoxLiner.fb_yellow, div#fbZoomDiv.fb_yellow {
	background-color: #ed9;
}
div#fbBox.fb_red, #fbBox #fbCorners.fb_red, #fbBox #fbBoxLiner.fb_red, div#fbZoomDiv.fb_red {
	background-color: #580808;
}

#fbBox #fbCorners.fb_black {
	border-color: #888;
}
#fbBox #fbCorners.fb_white {
	border-color: #ffffff;
}
#fbBox #fbCorners.fb_blue {
	border-color: #000000;
}
#fbBox #fbCorners.fb_yellow {
	border-color: #680c0c;
}
#fbBox #fbCorners.fb_red {
	border-color: #945848;
}

#fbBox #fbContentWrapper.fb_black {
	border-color: #ccc;
}
#fbBox #fbContentWrapper.fb_white {
	border-color: #cccccc;
}
#fbBox #fbContentWrapper.fb_blue {
	border-color: #aaa8be;
}
#fbBox #fbContentWrapper.fb_yellow {
	border-color: #700;
}
#fbBox #fbContentWrapper.fb_red {
	border-color: #b64;
}

#fbBox #fbLoader.fb_black {
	background-image: url(graphics/325.gif);
}
#fbBox #fbLoader.fb_white {
	background-image: url(graphics/loader_white.gif);
}
#fbBox #fbLoader.fb_blue {
	background-image: url(graphics/325.gif);
}
#fbBox #fbLoader.fb_yellow {
	background-image: url(graphics/loader_white.gif);
}
#fbBox #fbLoader.fb_red {
	background-image: url(graphics/loader_black_small.gif);
}

#fbBox #fbResizer.fb_black {
	background-image: url(graphics/resizer_black.gif);
}
#fbBox #fbResizer.fb_white {
	background-image: url(graphics/resizer_white.gif);
}
#fbBox #fbResizer.fb_blue {
	background-image: url(graphics/resizer_blue.gif);
}
#fbBox #fbResizer.fb_yellow {
	background-image: url(graphics/resizer_yellow.gif);
}
#fbBox #fbResizer.fb_red {
	background-image: url(graphics/resizer_red.gif);
}

#fbBox #fbDragger.fb_black {
	background-image: url(graphics/dragger_black.gif);
}
#fbBox #fbDragger.fb_white {
	background-image: url(graphics/dragger_white.gif);
}
#fbBox #fbDragger.fb_blue {
	background-image: url(graphics/dragger_blue.gif);
}
#fbBox #fbDragger.fb_yellow {
	background-image: url(graphics/dragger_yellow.gif);
}
#fbBox #fbDragger.fb_red {
	background-image: url(graphics/dragger_red.gif);
}

#fbBox #fbOverlayPrev.fb_black {
	background-image: url(graphics/overlayPrev_black.gif);
}
#fbBox #fbOverlayNext.fb_black {
	background-image: url(graphics/overlayNext_black.gif);
}
#fbBox #fbOverlayPrev.fb_white {
	background-image: url(graphics/overlayPrev_white.gif);
}
#fbBox #fbOverlayNext.fb_white {
	background-image: url(graphics/overlayNext_white.gif);
}
#fbBox #fbOverlayPrev.fb_blue {
	background-image: url(graphics/overlayPrev_blue.gif);
}
#fbBox #fbOverlayNext.fb_blue {
	background-image: url(graphics/overlayNext_blue.gif);
}
#fbBox #fbOverlayPrev.fb_yellow {
	background-image: url(graphics/overlayPrev_yellow.gif);
}
#fbBox #fbOverlayNext.fb_yellow {
	background-image: url(graphics/overlayNext_yellow.gif);
}
#fbBox #fbOverlayPrev.fb_red {
	background-image: url(graphics/overlayPrev_red.gif);
}
#fbBox #fbOverlayNext.fb_red {
	background-image: url(graphics/overlayNext_red.gif);
}

#fbBox #fbNewWindowLink.fb_black a {
	background-image: url(graphics/newWindow_black_off.png);
}
#fbBox #fbNewWindowLink.fb_black a:hover {
	background-image: url(graphics/newWindow_black_on.png);
}
#fbBox #fbNewWindowLink.fb_white a {
	background-image: url(graphics/newWindow_white_off.png);
}
#fbBox #fbNewWindowLink.fb_white a:hover {
	background-image: url(graphics/newWindow_white_on.png);
}
#fbBox #fbNewWindowLink.fb_blue a {
	background-image: url(graphics/newWindow_blue_off.png);
}
#fbBox #fbNewWindowLink.fb_blue a:hover {
	background-image: url(graphics/newWindow_blue_on.png);
}
#fbBox #fbNewWindowLink.fb_yellow a {
	background-image: url(graphics/newWindow_yellow_off.png);
}
#fbBox #fbNewWindowLink.fb_yellow a:hover {
	background-image: url(graphics/newWindow_yellow_on.png);
}
#fbBox #fbNewWindowLink.fb_red a {
	background-image: url(graphics/newWindow_red_off.png);
}
#fbBox #fbNewWindowLink.fb_red a:hover {
	background-image: url(graphics/newWindow_red_on.png);
}

#fbBox #fbIndexLinks.fb_black, #fbBox #fbIndexLinks.fb_black a,
#fbBox #fbNewWindowLink.fb_black a, #fbBox #fbItemNumber.fb_black {
	color: #aaa;
}
#fbBox #fbIndexLinks.fb_white, #fbBox #fbIndexLinks.fb_white a,
#fbBox #fbNewWindowLink.fb_white a, #fbBox #fbItemNumber.fb_white {
	color: #666;
}
#fbBox #fbIndexLinks.fb_blue, #fbBox #fbIndexLinks.fb_blue a,
#fbBox #fbNewWindowLink.fb_blue a, #fbBox #fbItemNumber.fb_blue {
	color: #a7a7a7;
}
#fbBox #fbIndexLinks.fb_yellow, #fbBox #fbIndexLinks.fb_yellow a,
#fbBox #fbNewWindowLink.fb_yellow a, #fbBox #fbItemNumber.fb_yellow {
	color: #700;
}
#fbBox #fbIndexLinks.fb_red, #fbBox #fbIndexLinks.fb_red a,
#fbBox #fbNewWindowLink.fb_red a, #fbBox #fbItemNumber.fb_red {
	color: #ca8;
}

#fbBox #fbCaption.fb_black, #fbBox #fbCaption2.fb_black,
#fbBox #fbtlWidgetDiv.fb_black a, #fbBox #fbtrWidgetDiv.fb_black a,
#fbBox #fbblWidgetDiv.fb_black a, #fbBox #fbbrWidgetDiv.fb_black a,
#fbBox #fbIndexLinks.fb_black a:hover, #fbBox #fbNewWindowLink.fb_black a:hover {
	color: #d7d7d7;
}
#fbBox #fbCaption.fb_white, #fbBox #fbCaption2.fb_white,
#fbBox #fbtlWidgetDiv.fb_white a, #fbBox #fbtrWidgetDiv.fb_white a,
#fbBox #fbblWidgetDiv.fb_white a, #fbBox #fbbrWidgetDiv.fb_white a,
#fbBox #fbIndexLinks.fb_white a:hover, #fbBox #fbNewWindowLink.fb_white a:hover {
	color: #000;
}
#fbBox #fbCaption.fb_blue, #fbBox #fbCaption2.fb_blue,
#fbBox #fbtlWidgetDiv.fb_blue a, #fbBox #fbtrWidgetDiv.fb_blue a,
#fbBox #fbblWidgetDiv.fb_blue a, #fbBox #fbbrWidgetDiv.fb_blue a,
#fbBox #fbIndexLinks.fb_blue a:hover, #fbBox #fbNewWindowLink.fb_blue a:hover {
	color: #d0d0d0;
}
#fbBox #fbCaption.fb_yellow, #fbBox #fbCaption2.fb_yellow,
#fbBox #fbtlWidgetDiv.fb_yellow a, #fbBox #fbtrWidgetDiv.fb_yellow a,
#fbBox #fbblWidgetDiv.fb_yellow a, #fbBox #fbbrWidgetDiv.fb_yellow a,
#fbBox #fbIndexLinks.fb_yellow a:hover, #fbBox #fbNewWindowLink.fb_yellow a:hover {
	color: #941010;
}
#fbBox #fbCaption.fb_red, #fbBox #fbCaption2.fb_red,
#fbBox #fbtlWidgetDiv.fb_red a, #fbBox #fbtrWidgetDiv.fb_red a,
#fbBox #fbblWidgetDiv.fb_red a, #fbBox #fbbrWidgetDiv.fb_red a,
#fbBox #fbIndexLinks.fb_red a:hover, #fbBox #fbNewWindowLink.fb_red a:hover {
	color: #ec9;
}

#fbBox #fbPrev.fb_black {
	background-image: url(graphics/prev_black.gif);
}
#fbBox #fbNext.fb_black {
	background-image: url(graphics/next_black.gif);
}
#fbBox #fbPrev.fb_white {
	background-image: url(graphics/prev_white.gif);
}
#fbBox #fbNext.fb_white {
	background-image: url(graphics/next_white.gif);
}
#fbBox #fbPrev.fb_blue {
	background-image: url(graphics/prev_blue.gif);
}
#fbBox #fbNext.fb_blue {
	background-image: url(graphics/next_blue.gif);
}
#fbBox #fbPrev.fb_yellow {
	background-image: url(graphics/prev_yellow.gif);
}
#fbBox #fbNext.fb_yellow {
	background-image: url(graphics/next_yellow.gif);
}
#fbBox #fbPrev.fb_red {
	background-image: url(graphics/prev_red.gif);
}
#fbBox #fbNext.fb_red {
	background-image: url(graphics/next_red.gif);
}

#fbBox #fbPlay.fb_black {
	background-image: url(graphics/play_black.gif);
}
#fbBox #fbPause.fb_black {
	background-image: url(graphics/pause_black.gif);
}
#fbBox #fbPlay.fb_white {
	background-image: url(graphics/play_white.gif);
}
#fbBox #fbPause.fb_white {
	background-image: url(graphics/pause_white.gif);
}
#fbBox #fbPlay.fb_blue {
	background-image: url(graphics/play_blue.gif);
}
#fbBox #fbPause.fb_blue {
	background-image: url(graphics/pause_blue.gif);
}
#fbBox #fbPlay.fb_yellow {
	background-image: url(graphics/play_yellow.gif);
}
#fbBox #fbPause.fb_yellow {
	background-image: url(graphics/pause_yellow.gif);
}
#fbBox #fbPlay.fb_red {
	background-image: url(graphics/play_red.gif);
}
#fbBox #fbPause.fb_red {
	background-image: url(graphics/pause_red.gif);
}

#fbBox #fbClose.fb_black {
	background-image: url(graphics/close_black.gif);
}
#fbBox #fbClose.fb_white {
	background-image: url(graphics/close_white.gif);
}
#fbBox #fbClose.fb_blue {
	background-image: url(graphics/close_blue.gif);
}
#fbBox #fbClose.fb_yellow {
	background-image: url(graphics/close_yellow.gif);
}
#fbBox #fbClose.fb_red {
	background-image: url(graphics/close_red.gif);
}

/** end of other color schemes **/

/** control widgets **/

#fbBox #fbControls {
	font-size: 1px;
	height: 14px;  /* all the controls (prev|next, play|pause, close) should be the same height */
}

#fbBox #fbNavControls {
	width: 88px;  /* sum of prev and next widths */
	height: 14px;
}

#fbBox #fbPrev {
	float: left;
	background-repeat: no-repeat;
	width: 44px;  /* prev nav control */
	height: 14px;
}

#fbBox #fbNext {
	float: right;
	background-repeat: no-repeat;
	width: 44px; /* next nav control */
	height: 14px;
}

#fbBox #fbPlayPause, #fbBox #fbPlay, #fbBox #fbPause {
	text-align: justify;
	width: 46px;  /* slideshow controls - play and pause need to be the same size */
	height: 14px;
}

#fbBox #fbPlay, #fbBox #fbPause {
	position: absolute;
	background-repeat: no-repeat;
}

#fbBox #fbClose {
	background-repeat: no-repeat;
	width: 46px;  /* the close button */
	height: 14px;
}

#fbBox #fbResizer {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;  /* resizer widget in the top-left corner */
	height: 25px;
}

#fbBox #fbDragger {
	position: absolute;
	cursor: nw-resize;
	background-position: right bottom;  /* 'cause ie6 makes it taller than actual size */
	background-repeat: no-repeat;
	width: 12px;  /* dragger widget in the bottom-right corner */
	height: 12px;
}

/** end of control widgets **/

div#fbOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	margin: 0;
	padding: 0;
}

div#fbBox {
	position: absolute;
	border-style: solid;
	border-width: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

#fbBox div.fb, #fbBox a.fb, #fbBox img.fb, #fbBox iframe.fb, div#fbZoomDiv img#fbZoomImg {
	border-width: 0;
	margin: 0;
	padding: 0;
	outline: none;
}
#fbBox a.fb {
	background-image: url(graphics/blank.gif);
	background-color: transparent;
}
#fbBox div.fb {
	background-color: transparent;
}

#fbBox #fbContentWrapper {
	overflow: hidden;
}

div#fbZoomDiv, a.fbPopup img, a.fbPopdown img, a.fbPopleft img, a.fbPopright img, a.fbPoppip img, #fbContentWrapper img.fbPoppip {
	position: absolute;
	left: 0;
	top: -9999px;
	border-style: solid;
	border-color: #000;
	/* zoomer and popup border-widths are set in js code (sorry) */
	margin: 0;
	padding: 0;
}

#fbBox #fbLoader, #fbZoomDiv #fbLoaderGif, #fbContentWrapper #fbLoaderGif, #fbContentWrapper #fbIframeHider {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
}
#fbZoomDiv #fbLoaderGif, #fbContentWrapper #fbLoaderGif {
	background-image: url(graphics/325.gif);
}

#fbBox #fbHeader, #fbBox #fbFooter {
	position: absolute;
	background-color: transparent;
	overflow: hidden;
}

div.fbCycler {
	position: relative;
}
div.fbCycler a, div.fbCycler div {
	position: absolute;
	display: none;
/* 	left: 0; */
	text-decoration: none;
}
div.fbCycler a:first-child, div.fbCycler a.first-child {
	display: inline;
}
div.fbCycler div:first-child, div.fbCycler div.first-child {
	display: block;
}
div.fbCycler span {  /* wrap text under the thumbnail/image */
	display: block;
	text-align: center;
}
div.fbCycler a span {
	text-decoration: underline;
}

#fbBox #fbShadows, #fbBox #fbShadowTop, #fbBox #fbShadowRight, #fbBox #fbShadowBottom, #fbBox #fbShadowLeft, #fbBox #fbShadowCorner,
#fbBox #fbCorners, #fbBox #fbCornerTop, #fbBox #fbCornerRight, #fbBox #fbCornerBottom, #fbBox #fbCornerLeft, #fbBox #fbCorners2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#fbBox #fbShadows, #fbBox #fbCorners {
	overflow: visible;
	border-style: solid;
}
#fbBox #fbShadowRight {
	background-position: right top;
}
#fbBox #fbShadowCorner {
	background-position: right bottom;
}
#fbBox #fbShadowBottom {
	background-position: left bottom;
}

#fbBox #fbBoxLiner {
	position: relative;  /* images won't fade in/out in ie6 if absolute */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#fbBox #fbContentWrapper, #fbBox #fbtlPanel, #fbBox #fbtrPanel, #fbBox #fbblPanel, #fbBox #fbbrPanel {
	position: absolute;
	border-style: solid;
	overflow: hidden;
}

#fbBox #fbContentWrapper, div#fbZoomDiv {
	background-color: #fff;  /* can override with per-item backgroundColor option */
}

#fbBox #fbInfoLink, #fbBox #fbPrintLink {  /* "Info...", "Print..." */
	font-weight: bold;
}

#fbBox #fbLeftNav, #fbBox #fbRightNav {
	position: absolute;
	height: 100%;
}
#fbBox #fbLeftNav, #fbBox #fbOverlayPrev {
	left: 0;
}
#fbBox #fbRightNav, #fbBox #fbOverlayNext {
	right: 0;
}

#fbBox #fbOverlayPrev, #fbBox #fbOverlayNext {
	position: absolute;
	background-repeat: no-repeat;
	width: 49px;  /* popup prev and next that overlays images */
	height: 23px;
}

#fbBox #fbtlPanel, #fbBox #fbtrPanel, #fbBox #fbblPanel, #fbBox #fbbrPanel {
	line-height: 1.25em;
	/* caption etc. text */
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#fbBox #fbCaption, #fbBox #fbCaption2 {
	cursor: default;
}

#fbBox #fbItemNumber {
	font-size: 10px;  /* 'image x of y' text */
	white-space: nowrap;
	cursor: default;
}

#fbBox #fbIndexLinks {
	clear: both;
	margin: 4px 0;
	padding: 0;
}
#fbBox #fbIndexLinks a {
	margin: 0;
	padding: 3px 0;
	outline: none;
	text-decoration: none;
}
#fbBox #fbIndexLinks a:hover {
	text-decoration: underline;
}
#fbBox #fbIndexLinks a#fbCurrentIndex, #fbBox #fbIndexLinks span {
	text-decoration: none;
	cursor: default;
}

#fbBox #fbNewWindowLink {
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1px;
}
#fbBox #fbNewWindowLink a {
	font-size: 12px;
	padding-left: 19px;  /* for the bg image */
	background-repeat: no-repeat;
	background-position: top left;
}

/* posLeft, posCenter & posRight are dynamically assigned classes that allow layout of the panels depending on which side they're on */
#fbBox #fbtlPanel.posCenter, #fbBox #fbtrPanel.posCenter,
#fbBox #fbblPanel.posCenter, #fbBox #fbbrPanel.posCenter,
#fbBox #fbtlWidgetDiv.posCenter, #fbBox #fbtrWidgetDiv.posCenter,
#fbBox #fbblWidgetDiv.posCenter, #fbBox #fbbrWidgetDiv.posCenter,
#fbBox #fbIndexLinks.posCenter, #fbBox #fbNewWindowLink.posCenter {
	margin: 0 auto;
}
#fbBox #fbtlPanel.posRight, #fbBox #fbtrPanel.posRight,
#fbBox #fbblPanel.posRight, #fbBox #fbbrPanel.posRight,
#fbBox #fbtlWidgetDiv.posRight, #fbBox #fbtrWidgetDiv.posRight,
#fbBox #fbblWidgetDiv.posRight, #fbBox #fbbrWidgetDiv.posRight,
#fbBox #fbIndexLinks.posRight, #fbBox #fbNewWindowLink.posRight,
#fbBox #fbControls.posRight, #fbBox #fbClose.posRight,
#fbBox #fbSubControls.posRight, #fbBox #fbNavControls.posLeft,
#fbBox #fbPlayPause.posLeft {
	float: right;
}
#fbBox #fbtlPanel.posLeft, #fbBox #fbtrPanel.posLeft,
#fbBox #fbblPanel.posLeft, #fbBox #fbbrPanel.posLeft,
#fbBox #fbtlWidgetDiv.posLeft, #fbBox #fbtrWidgetDiv.posLeft,
#fbBox #fbblWidgetDiv.posLeft, #fbBox #fbbrWidgetDiv.posLeft,
#fbBox #fbIndexLinks.posLeft, #fbBox #fbNewWindowLink.posLeft,
#fbBox #fbControls.posLeft, #fbBox #fbClose.posLeft,
#fbBox #fbSubControls.posLeft, #fbBox #fbNavControls.posRight,
#fbBox #fbPlayPause.posRight {
	float: left;
}
/* IE6 wants these, maybe for layout? */
#fbSubControls, #fbClose, #fbIndexLinks, #fbNewWindowLink, #fbPlayPause, #fbNavControls {
	float: left;
}

/* firefox/flash outline and wmode-scroll-click bug fixes */
object.fbFlashObject {
	outline: none;
}
object.fbFlashObject:hover {
	border: 0 solid;
}
