* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

.main {
  text-align: center;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.main .topo .perfil, .main .conquista {
  margin: 0 auto;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: left;
}

.main .topo {
  width: 100%;
  padding-top: 10px;
}

.main .topo .perfil {
  display: inline-block;
  width: 15%;
}


.main .conquista {
  width: 20%;
  margin-right: 20px;
  padding: 10px;
  min-height:80px;
  float: left;
}

.nao-obtida {
  opacity: 0.3;
}

.obtida {
  opacity: 1;
}

.topo .pontos {
  float: left;
  font-size: 16px;
}

.topo .nome {
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.topo .level {
  float: right;
  font-size: 16px;
}

.conquista .medalha {
  display: inline-block;
  width:20%;
  float: left;
  vertical-align: middle;
}

.conquista .descricao {
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-left: 10px;
}

.conquista .descricao .nome {
  display: inline-block;
  padding-bottom: 10px;
}

.conquista .descricao .pontos {
  float: right;
  display: inline-block;

}

.conquista .descricao .descr {
  line-height: 16px;
}

.conquistas {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  display: inline-block;
}

.clearer {
  clear: both;
}

.ranking {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.ranking h2 {
  font-size: 16px;
}

.ranking .item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.ranking .item:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.ranking .item .posicao {
  padding-right: 20px;
  font-weight: bold;
}
