.ui-footer div {
    margin: 15px;
}

.ui-footer.ui-bar-a {
    color: #FFFFFF;
}
.ui-footer {
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    text-shadow: none;
}
.ui-page { -webkit-backface-visibility: hidden; }
.warning {display:inline-block; width:90%; font-size:80%;}
.btR{display:inline-block; width:8%; margin-top:0px; text-align:right;}
.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}
#textDialog{
	padding:20px;
}
.ui-corner-all, .ui-btn-corner-all {
-webkit-border-radius: 7px;
 border-radius: 7px;
}
.disabled{
    padding: 7px;
    background-image: none;
    margin: 0.5em 0;
    position: relative;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    background-clip: padding-box;
    font-family: Helvetica,Arial,sans-serif;
    border: 1px solid #AAAAAA;
    color: #999999;
    text-shadow: 0 1px 0 #FFFFFF;
}
#top{
	min-height:400px;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}


.ui-controlgroup-horizontal .ui-checkbox .ui-mini .ui-btn-inner, .ui-controlgroup-horizontal .ui-radio .ui-mini .ui-btn-inner {
    padding: 0.55em 7px 0.5em;
}

#conceito .ui-btn-inner{
	background-color:#c3d8e9;
}

#exemplo .ui-btn-inner{
	background-color:#c0d36d;
}

#exercicio .ui-btn-inner{
	background-color:#a6a6e5;
}

#material .ui-btn-inner{
	background-color:#e3d2a0;
}

#sub-topico{
	margin-left:35px !important;
	margin-right:35px !important;		
}
#control-subtopico{
	margin-bottom:10px !important;
}
.ui-page { 
background: #fff;
}

#navegacao-topico .ui-btn-active {
    color: #FF0000 !important;
    font-family: Helvetica,Arial,sans-serif !important;
    font-weight: 700 !important;
	text-shadow: 1px 1px 1px #ffffff !important;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.currentLink{
	color:#0F0 !important;
}
#navigation-hide{
	display:none;
}

@media (min-width:35em){

/* wrap on wide viewports once open */

.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
    width: auto;
}

/* disable "dismiss" on wide viewports */
.ui-responsive-panel .ui-panel-dismiss-display-push {
    display: none;
}

}