* {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

#content {
	background: #fff;
	width: 100%;
}

.border-all {
	border: 1px solid #006;
}

h3 {
	font-size: 16px;
	color: #006;
}

#chart {
	width: 100%;
	height: 400px;
}

/* Posicionamento */
.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

/* Espaçamento */

.padding-chart {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-all-20 {
	padding: 20px;
}

.padding-all-10 {
	padding: 10px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-top-0 {
	padding-top: 0;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-right-20 {
	margin-right: 35px;
}

.margin-right-35 {
	margin-right: 35px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/* Formulário */
.slt, .txt, div.dataTables_filter input{
	background: #D6E7EF;
	border-radius: 3px;
	border: #000066 1px solid;
	border-left-color: #AFC4D5;
	border-top-color: #AFC4D5;
	color: #000066;
}

.txt, div.dataTables_filter input {
	padding: 1px;
}

.btn {
	padding: 5px;
	color: #FFFFFF;
	cursor: pointer;
	border: solid 1px #da7c0c;
	border-radius: 3px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	font-weight: bold;
	font-size: 14px;
}

/* Outros */
.background {
	background: #D6E7EF;
	border-radius: 5px;
}

#tbl_metrics tr td {
	padding: 10px;
}

/* Tabela de detalhes */
div.dataTables_filter {
	margin-bottom: 10px;
}

.details thead th {
	text-align: left;
}

.details thead th,
.details tbody td {
	border-left: 1px solid #fff;
}

.details thead th:nth-child(1),
.details tbody td:nth-child(1) {
	border-left: none;
}

/* Gráfico */
#flot-tooltip { font-size: 12px; font-family: Verdana, Arial, sans-serif; position: absolute; display: none; border: 2px solid; padding: 2px; background-color: #FFF; opacity: 0.8; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

/* Impressão */
@media print { 
	.not-print { display: none }
}