#fbx.fbx,#fbx .fbBox{position:absolute;top:0;left:0;border-style:solid;border-width:0;margin:0;padding:0;background-color:transparent}
#fbx .fbOverlay{position:fixed;top:0;left:0;width:100%;height:100%;border-width:0;margin:0;padding:0}
#fbx div.fbx,#fbx a.fbx,#fbx img.fbx,#fbx iframe.fbx{border-width:0;border-style:solid;margin:0;padding:0;background-repeat:no-repeat;background-color:transparent;background-size:auto;outline-style:none}
#fbx div.fbBackground,#fbx div.fbOverlay{background-repeat:repeat}
#fbx a.fbx{background-image:url(graphics/blank.gif);zoom:1}
#fbx .fbBackground,#fbx .fbBoxLiner,#fbx .fbLoader,#fbx .fbCover{position:absolute;left:0;top:0;width:100%;height:100%;min-width:100%;min-height:100%;overflow:hidden;background-position:center}
#fbx .fbZoomImg,#fbx .fbSlowLoad,#fbx .fbIndex .fbPopper,#fbx .fbContentWrapper .fbPopper,.fbPopup img:first-child,.fbPopdown img:first-child,.fbPopleft img:first-child,.fbPopright img:first-child,.fbPopcenter img:first-child,a .fbPopper{position:absolute;left:0;top:-9999px;border-style:solid;border-color:#000;margin:0;padding:0}
#fbx .fbPlay,#fbx .fbPause,#fbx .fbOuterClose{position:absolute}
#fbx .fbSubControls,#fbx .fbClose,#fbx .fbIndex,#fbx .fbNewWindowLink,#fbx .fbPlayPause,#fbx .fbNavControls{float:left}
#fbx .fbControls{font-size:1px;height:14px}
#fbx .fbNavControls{width:88px;height:14px}
#fbx .fbPrev{float:left;width:44px;height:14px}
#fbx .fbNext{float:right;width:44px;height:14px}
#fbx .fbPlayPause,#fbx .fbPlay,#fbx .fbPause{text-align:justify;width:46px;height:14px}
#fbx .fbClose{width:46px;height:14px}
#fbx .fbOuterClose{width:27px;height:27px}
#fbx .fbResizer{position:absolute;left:0;top:0;width:25px;height:25px}
#fbx .fbDragger{position:absolute;cursor:nw-resize;background-position:100% 100%;width:12px;height:12px}
#fbx .fbContent{position:relative;display:inline-block}
#fbx .fbContent,#fbx .fbZoomImg{border-radius:inherit}
#fbx .fbBoxLiner{position:relative;overflow:visible}
#fbx .fbCover{background-image:url(graphics/blank.gif)}
#fbx .fbHeader,#fbx .fbFooter{position:absolute;overflow:hidden}
#fbx .fbShadows,#fbx .fbShadowTop,#fbx .fbShadowRight,#fbx .fbShadowBottom,#fbx .fbShadowLeft,#fbx .fbShadowCorner,#fbx .fbCorners,#fbx .fbCornerTop,#fbx .fbCornerRight,#fbx .fbCornerBottom,#fbx .fbCornerLeft,#fbx .fbCorners2{position:absolute;width:100%;height:100%;overflow:hidden}
#fbx .fbShadows,#fbx .fbCorners{overflow:visible;border-style:solid}
#fbx .fbShadowRight{background-position:40% 0%}
#fbx .fbShadowCorner{background-position:40% 40%}
#fbx .fbShadowBottom{background-position:0% 40%}
#fbx .fbContentWrapper,#fbx .fbtlPanel,#fbx .fbtrPanel,#fbx .fbblPanel,#fbx .fbbrPanel{position:absolute;overflow:hidden}
#fbx .fbInfoLink,#fbx .fbPrintLink{font-weight:bold}
#fbx .fbLeftNav,#fbx .fbRightNav{position:absolute;height:100%}
#fbx .fbLeftNav,#fbx .fbOverlayPrev{left:0}
#fbx .fbRightNav,#fbx .fbOverlayNext{right:0}
#fbx .fbOverlayPrev,#fbx .fbOverlayNext{position:absolute;width:49px;height:23px}
#fbx .fbtlPanel,#fbx .fbtrPanel,#fbx .fbblPanel,#fbx .fbbrPanel{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;line-height:normal}
#fbx .fbCaption,#fbx .fbCaption2{cursor:default}
#fbx .fbItemNumber{font-size:10px;white-space:nowrap;cursor:default}
#fbx .fbIndex{clear:both;margin:4px 0;padding:0}
#fbx .fbIndex a{margin:0;padding:3px 0;text-decoration:none;display:inline-block}
#fbx .fbIndex .fbCurrentIndex{font-weight:bold;cursor:default}
#fbx .fbNewWindowLink{clear:both;margin-top:0;margin-bottom:0;padding-left:1px}
#fbx .fbNewWindowLink a{font-size:12px;padding-left:19px;background-position:0% 0%}
#fbx.fbx .fbOverlay{background-color:#000}
#fbx.fbx .fbBackground,#fbx.fbx .fbCorners{background-color:#fff}
#fbx.fbx .fbCorners{border-color:#fff}
#fbx.fbx .fbContentWrapper{border-color:#ddd}
#fbx.fbx .fbItemNumber,#fbx.fbx .fbIndex,#fbx.fbx .fbNewWindowLink{color:#666;border-color:#000}
#fbx.fbx .fbCaption,#fbx.fbx .fbCaption2,#fbx.fbx .fbInfoLink,#fbx.fbx .fbPrintLink{color:#000}
#fbx.fbx .fbLoader{background-image:url(graphics/white/loader.gif)}
#fbx.fbx .fbResizer{background-image:url(graphics/white/resizer.gif)}
#fbx.fbx .fbDragger{background-image:url(graphics/white/dragger.gif)}
#fbx.fbx .fbOverlayPrev{background-image:url(graphics/white/overlayPrev.gif)}
#fbx.fbx .fbOverlayNext{background-image:url(graphics/white/overlayNext.gif)}
#fbx.fbx .fbPrev{background-image:url(graphics/white/prev_on.gif)}
#fbx.fbx .fbNext{background-image:url(graphics/white/next_on.gif)}
#fbx.fbx .fbPlay{background-image:url(graphics/white/play.gif)}
#fbx.fbx .fbPause{background-image:url(graphics/white/pause.gif)}
#fbx.fbx .fbClose{background-image:url(graphics/white/close.gif)}
#fbx.fbx .fbOuterClose{background-image:url(graphics/white/outerClose.png)}
#fbx.fbx .fbNewWindowLink a{background-image:url(graphics/white/newWindow_off.png)}
*.fbCycler{display:block;position:relative}
.fbCycler a,.fbCycler div{position:absolute;display:none;text-decoration:none}
.fbCycler a.first-child{display:inline}
.fbCycler div.first-child{display:block}
.fbCycler span{display:block;text-align:center}
.fbCycler a span{text-decoration:underline}
#fbMedia{width:100%;height:100%}
body span.fbVideoThumb{display:inline-block;position:relative;cursor:pointer}
span.fbVideoThumb img.fbVideoPlay{position:absolute;border-width:0;margin:0}
