/*
Arquivo de estilos para o FireFox e demais navegadores
*/

@charset "utf-8";

/* 
para o ambiente de avaliação 
*/
.parametro 
{
	background: #BCD2EE;
	padding:10px; 
	color:#000066;
	margin-bottom:10px;
	border-width:1px;
	border-style:solid;
	border-color:#009ACD;
}

.parametro div.esquerda
{
	text-align: left;
	width: 100px;
	float: left;
}

.parametro div.direita 
{	
	width: auto; 
	padding-left: 10px; 
	float: left;  
}

.parametro div.funcao { clear:left; }

.info {
	padding-left:10px;
	color:#000000;
}

.info span {font-weight:bold; }

.avaliacao 
{
	background: #FFF;
	padding:10px;
	color:#000066;
	border-width:1px;
	border-style:solid;
	border-color:#009ACD;
}

.field 
{
	border-style:dashed;
	border-width:1px;
	border-color:#FFFF99;
}

.funcao { padding:10px;}
.funcao input select textarea { margin-left:10px; }

.uppercase {text-transform:uppercase;}
.bold {font-weight:bold;}
.logo {text-align:center; margin-bottom:1em;}

.ident 
{
	background:#f8f8f3; 
	padding:10px; 
	color:#898989; 
	margin-bottom:10px;
	border:1px solid #CCCCCC;
}

.ident span {font-weight:bold;}
.ident span.t {color:#000;}
.ident span.numeracao {color:#000;}

span.titulo {
	color:#000000;
}

.identificacao 
{
  text-align:left;
}

.identificacao h1 {
  font-size:14px;
	text-align:center;
}

.ajuda {
  text-align:right;
}

.lista_aval {
	background:#F2F2F2 none repeat scroll 0%;
	border:1px solid #CCCCCC;
	color:#CC0000;
	display:block;
	margin:2px 0pt 0pt;
	padding:4px;
}

.lista_aval span.titulo {
	text-transform:uppercase;
	font-weight:bold;
	padding-right:5px;	
}

.lista_aval .texto {
	padding-right:20px;
}

.lista_aluno {
  clear:left;
	padding: 2px 0px 10px 0;	
}

.lista_aluno fieldset{
  border: 2px dotted #CCCCCC;
	width: 98%;
}

.lista_aluno legend table {
	padding-left: 10px;
}

.ok {
	color:#000000;
	font-style:italic;
}

.pendente {
	color:#FF9900;
	font-weight:bold;
}

.naoentregue {
	color:#FF0000;
	font-style:italic;
}

.zerado {
	color:#FF0000;
	font-style:bold;
}


/* Divs para mostrar se a operação foi realizada com sucesso ou erro  */

.sucesso {
	color:#0033CC;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	margin: 10px;
	padding-left:20px;
}
.sucesso span {
  font-weight:bold;
}

.alerta {
  color: #FF0000;
	background-color:#FFFF99;
	border: 1px solid #FF0000;
	padding-left: 20px;	
	margin: 10px;
}

.erro {
	color:#FF0000;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	margin: 10px;
	padding-left:20px;
}

.erro span {
  font-weight:bold;
}

acronym {
  cursor: help;
}

.hidden {
  display:none;
}

tr.zA {
	background-color:#CCC;
}

tr.zB {
	background-color:#FFF;
}

/* Listas horizontais */

.lista, .lista * {
	margin: 0;
	padding: 0;
}

.lista {
	list-style:none;
}	

.lista li {
	float: left;
	display: block;
	border: none;
	margin-right: 10px;	
	margin-bottom: 2px;
	width: auto;
}

.lista_button, .lista_button * {
	margin: 0;
	padding: 0;
}

.lista_button {
	list-style:none;
}	

.lista_button li {
	float: right;
	display: block;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;	
	width: 100px;
}

/* ---------------------------- */

tr.total {
	font-family:tahoma,sans-serif;
	font-size:11px;
	background:#DDD;
	color:#000000;
	text-decoration:none;
	font-weight: normal;
	text-indent: 4px;
	height:25px;
}

tr.total_reprovado {
	font-family:tahoma,sans-serif;
	font-size:11px;
	background:#EEE;
	color:#FF0000;
	text-decoration:none;
	font-weight: normal;
	text-indent: 4px;
	height:25px;
}

tr.total_aprovado {
	font-family:tahoma,sans-serif;
	font-size:11px;
	background:#EEE;
	color:#3366FF;
	text-decoration:none;
	font-weight: normal;
	text-indent: 4px;
	height:25px;
}