
/* 
	Arquivo de estilos para o Internet Explorer
*/
@charset "utf-8";

.aval_parametro 
{
	background: #BCD2EE;
	margin:5px;
	color:#000066;
	border-width:1px;
	border-style:solid;
	border-color:#009ACD;
}

.aval_parametro div.esquerda
{
	text-align: left;
	width: 100px;
	float: left;
}

.aval_parametro div.direita 
{	
	width: auto; 
	padding-left: 10px; 
	float: left;  
}

.aval_parametro div.funcao { clear:left; margin-top: 10px;}

.aval_avaliacao 
{
	background: #FFF;
	margin:5px;
	color:#000066;
	border-width:1px;
	border-style:solid;
	border-color:#009ACD;
}

.aval_field 
{
	border-style:dashed;
	border-width:1px;
	border-color:#FFFF99;
}

.aval_funcao { padding:10px;}

.uppercase {text-transform:uppercase;}
.bold {font-weight:bold;}
.logo {text-align:center; margin-bottom:1em;}

.ident 
{
	background:#f8f8f3; 
	padding:10px; 
	color:#898989; 
	margin-bottom:10px;
	border:1px solid #CCCCCC;
}

.ident span {font-weight:bold;}
.ident span.titulo {color:#000;}
.ident span.numeracao {color:#000;}

span.titulo {
	color:#000000;
}

.identificacao 
{
  text-align:left;
}

.identificacao h1 {
  font-size:14px;
	text-align:center;
}



pre {
	background-color:#EFF2F5;
	display:block;
	font-family:"Courier New",courier,monospace;
	font-size:1.2em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2em;
	margin:2em 0pt;
	overflow:auto;
	padding:1%;
	white-space:pre;
	width:96%;
}

code {
	color:#FF6600;
	font-family:"Courier New",courier,monospace;
	font-size:1.1em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.lista_aluno table {
	margin: 10px; 
}

.lista_aluno legend {
	background-color:#F2F2F2;
}

.button {
	margin:0;
	padding: 0;
}

/* Holly Hack */
/*\*/
* html .lista ul li { float:left }
* html .lista li a { height: 1%; }
/* */