body, * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#93bee2;
}

.menu {
  float:left;
	width:200px;
}

.conteudo {
	float:left;
	margin-left:10px;
	width:590px;
}

ul#nav, ul#nav li ul {
	font: 12px, Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	list-style: none;
	width:180px;
	border:solid #ccc;
	border-width: 1px;
	background-color:#FFFFFF;
}

/*
ul#nav li {
	position: relative;
}
*/
/*
ul#nav li ul {
	position: absolute;
	left: 10em;
	top: 0;
	display: none;
}
*/
ul#nav li a, ul#nav ul li a {
  display: block;
	text-decoration: none;
	color: #FF0000;
	padding:0.25em 0.5em 0.25em 0.75em;
	border-top: 1px solid #ccc	
}