
.cell_over  { BACKGROUND-COLOR: #EEEEEE;  }
.cell_out   { BACKGROUND-COLOR: #FFFFFF; }
.cell_over1 { BACKGROUND-COLOR: #C9E4FC   }
.cell_out1  { BACKGROUND-COLOR: #FFFFCC   }
body a:link {text-decoration: none}
body a:hover {text-decoration: underline;}
body a:visited {text-decoration: none;}

  
  .tabela_td{
  height:-10px;
  }


   .fundo_categoria {
    margin-top:15px;
        margin-left:3px;
    margin-bottom:10px;
    padding-left:2px;  
    padding-right:2px;  
    padding-bottom:5px;  
  background-color:#eeeeee;  
  border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
    min-width:300px;

 }
 
  .fundo_categoria_titulo {
    font-family:arial,helvetica; 
  font-size:12px;
  font-weight: bold;
    padding-top:2px;  
  padding-left:2px;  
    padding-bottom:2px;  
  min-height:25px;
 }
 
 
   .fundo_branco {
    margin-bottom:0px;
    padding-left:0px;  
    padding-right:0px;  
    padding-bottom:0px;  
  padding-top:3px;  
  background-color:#ffffff;  
    min-width:300px;
  font-family:arial,helvetica; 
  font-size:11px;
 }
 
    .fundo_branco_redondo {
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    padding-left:10px;  
    padding-right:10px;  
    padding-bottom:3px;  
    padding-top:3px;      

    color: black;
    font-weight:bold;
  text-shadow:0px 1px 0px  #eeeeee;

    border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;
    height:22px;
 }
 
   .menu_dr {
    margin-bottom:5px;
    margin-left:3px;
    padding-left:2px;  
    padding-right:2px;  
    padding-bottom:6px;  
  background-color:#<?php echo $cor_padrao; ?>;  
  border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
    
 }
 
   .fundo_busca {
  margin-top:10px;
  margin-left:3px;
    margin-bottom:5px;
    padding-left:2px;  
    padding-right:2px;  
    padding-bottom:6px;  
  background-color:#eeeeee;  
  border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
    
 }
 
    .fundo_tags {
  margin-top:10px;
    margin-bottom:5px;
    padding-left:2px;  
    padding-right:2px;  
    padding-bottom:6px;  
  background-color:#c3c3c3;  
  border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
    
 }
 
 
 .busca{
    background-color: #FFF;
    color: #000000;
    font-size: 14px;
    margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
    width:270px; 
    height:20px;  
  -moz-box-shadow:inset 0 1px 4px #d1d1d1;-webkit-box-shadow:inset 0 1px 4px #d1d1d1;box-shadow:inset 0 1px 4px #d1d1d1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;       
}

.purple_DR {
color:purple;
text-decoration: none}

.blue_DR {
color:blue;
text-decoration: none}

    .scrollup{
      width:40px;
      height:40px;      
      text-indent:-9999px;
      opacity:0.5;
      position:fixed;
      bottom:15px;
      right:15px;
      display:none;     
      background: url('../imagens/icon_top.png') no-repeat;
    }


td.tabela_caminho {
font-family: Tahoma, Verdana, sans-serif;
color: #ffffff;
font-size: 12px;
margin:0 0 0 0;
border-top-right-radius: 0.7em; 
border-bottom-right-radius: 0.7em;
border-top-left-radius: 0.7em; 
border-bottom-left-radius: 0.7em;
padding-left:15px;
padding-right:15px;
height:45px;
}

#guia_conceito {
font:normal 14px Tahoma, Geneva, sans-serif;
font-style:normal;

background:#c3d8e9;
border:1px solid #7bb0dc;
text-shadow:0px 1px 1px #ffffff;
box-shadow:0px 0px 0px #d1cfd1;
-moz-box-shadow:0px 0px 0px #d1cfd1;
-webkit-box-shadow:0px 0px 0px #d1cfd1;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:150px;
padding:7px 15px 7px 15px;

margin:0 auto;
}

#guia_exemplo {
font:normal 14px Tahoma, Geneva, sans-serif;
font-style:normal;

background:#c0d36d;
border:1px solid #93aa33;
text-shadow:0px 1px 1px #ffffff;
box-shadow:0px 0px 0px #d1cfd1;
-moz-box-shadow:0px 0px 0px #d1cfd1;
-webkit-box-shadow:0px 0px 0px #d1cfd1;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:150px;
padding:7px 15px 7px 15px;

margin:0 auto;

}
#guia_exercicio{
font:normal 14px Tahoma, Geneva, sans-serif;
font-style:normal;

background:#a6a6e5;
border:1px solid #8989dc;
text-shadow:0px 1px 1px #ffffff;
box-shadow:0px 0px 0px #d1cfd1;
-moz-box-shadow:0px 0px 0px #d1cfd1;
-webkit-box-shadow:0px 0px 0px #d1cfd1;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:150px;
padding:7px 15px 7px 15px;

margin:0 auto;
}
#guia_material{
font:normal 14px Tahoma, Geneva, sans-serif;
font-style:normal;

background:#e3d2a0;
border:1px solid #cdb058;
text-shadow:0px 1px 1px #ffffff;
box-shadow:0px 0px 0px #d1cfd1;
-moz-box-shadow:0px 0px 0px #d1cfd1;
-webkit-box-shadow:0px 0px 0px #d1cfd1;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:150px;
padding:7px 15px 7px 15px;

margin:0 auto;

}

#guia_desabilitado {
font-family: Tahoma, Verdana, sans-serif;
border-top-right-radius: .3em; 
border-bottom-right-radius: .3em;
border-top-left-radius: .3em; 
border-bottom-left-radius: .3em;
padding: 7px 5px 0 5px;
height:25px;
width:180px;
background:#dddddd;

-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
}

.menu {
   

      position:fixed;
      bottom:10px;


}
