* {
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}

#ferramenta {
	background: #FFFFFF; /* branco */
	width: 100%;
}

#graficodosresultados {
	width: 100%;
	height: 400px;
}

.bordas {
	border: 1px solid #000066;
}

#tooltip {
	display: none;
}

p.titulo,#titulodaanalise {
	color: #006;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0;
}

#titulodaanalise {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

#semresultados {
	color: #F00;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
	

/* Posicionamento */

.a_esq {
	float: left;
}

.a_dir {
	float: right;
}

.no_ini {
	clear: both;
	height: 0;
}

/* Margens Internas */

.mar_int_20 {
	padding: 20px;
}

.mar_int_dir_20 {
	padding-right: 20px;
}

.mar_int_10 {
	padding: 10px;
}

.mar_int_sup_0 {
	padding-top: 0;
}

/* Margens Externas */

.mar_ext_inf_20 {
	margin-bottom: 20px;
}

.mar_ext_sup_20 {
	margin-top: 20px;
}

.mar_ext_sup_10 {
	margin-top: 10px;
}

.mar_ext_inf_10 {
	margin-bottom: 10px;
}

/* Formulário */
.slt, .txt, div.dataTables_filter input{
	background: #D6E7EF;
	border-radius: 3px;
	border: #000066 1px solid;
	border-left-color: #AFC4D5;
	border-top-color: #AFC4D5;
	color: #000066;
}

.txt, div.dataTables_filter input {
	padding: 1px;
}

.btn {
	padding: 5px;
	color: #FFFFFF;
	cursor: pointer;
	border: solid 1px #da7c0c;
	border-radius: 3px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	font-weight: bold;
	font-size: 14px;
}

/* Outros */

.fun_azul {
	background: #D6E7EF;
	border-radius: 5px;
}

.met_sit, .categoria {
	color: #000066;
	font-weight: bold;
	line-height: 12px;
}

.met_sit {
	cursor: pointer;
}

/* Tabela de detalhes */
div.dataTables_filter {
	margin-bottom: 10px;
}

.datatable thead th {
	text-align: left;
}

.datatable thead th,
.datatable tbody td {
	border-left: 1px solid #fff;
}

.datatable thead th:nth-child(1),
.datatable tbody td:nth-child(1) {
	border-left: none;
}

/* Impressão */
@media print { 
	.nao_imp { display: none }
}